:root {
    --branco-principal: #FFFFFF;  
    --botao-vermelho: #A80000;
    --cor-de-fundo: #000000;
    --cinza-secundario: #C0C0C0; 
    --fonte-principal: 'Inter';
    --botao-vermelho-efeito: #f72222;
}

body {
    background-color: var(--cor-de-fundo);
color: var(--branco-principal);
font-family: var(--fonte-principal);
font-size: 16px;
font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    }

    .principal {
        background-image: url("imagens/img-fundo.png");
        background-repeat: no-repeat;
        align-items: center;
    }

    .container {
        height: 100vh;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .container__botao {
        background-color: var(--botao-vermelho);
        border-radius: 5px;
        padding: 1em;
        color: var(--branco-principal);
        display: block;
        text-decoration:none;
        margin-bottom: 1em;
    }

    .botao_secundario {
        background-color: transparent;
        border: 2px solid var(--branco-principal);
    }

    .container__aviso {
        font-size: 12px;
        color: var(--branco-principal);
    }

    .container__titulo {
        font-size: 28px;
        font-weight: 700;
        margin: 1em 0;
    }

    .container__caixa {
        margin: 0 6em;
    }

    .secundario__imagem {
        width: 80%;
    }

    .secundario {
        align-items: center;
        margin: 0 10em;
    }

    .descrição__titulo {
        font-weight: 700;
        font-size: 35px;
        color: var(--branco-principal);
        margin-bottom: 0.1em;
    }

    .descrição__texto {
color: var(--cinza-secundario);
    }

    .secundario__botao {
        display: inline-block;
        margin-top: 1em;
    }

    .container__descrição {
        padding: 2em;
    }

    .dispositivos__lista {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 3em 0;
    }

    .dispositivos {
        text-align: center;
    }

    .imagem__dispositivos {
        width: 30%;
    }

    .dispositivos__titulo {
        font-size: 30px;
        color: var(--branco-principal);
    }

    .lista__item {
        font-size: 20px;
        color: var(--branco-principal);
    }

  .lista__link a {
    color: var(--branco-principal);
    margin-left: 3em;
    text-decoration: none;
  }

.rodape__lista {
    display: flex;
    list-style-type: none;
    justify-content: center;
    font-size: 15px;
}

.rodape {
    text-align: center;
    margin: 0 3em;
}

.rodape__logo {
    width: 8%;
    margin-bottom: 2em;

}

.rodape__texto {
    font-size: 15px;
    margin-bottom: 2em;
margin-top: 1em;
}

.lista__link a:hover {
    color: #A80000;
}

.container__botao:hover {
   background-color: var(--botao-vermelho-efeito);
   color: #000000;
}